board {
    position   : relative;
    --gap      : 3dvh;
    width      : 85vmin;
    height     : calc((var(--height) + 2) * 85vmin / var(--width));
    user-select: none;

    footer {
        width          : 100%;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
    }
}

@media screen and (orientation: landscape) {
    board {
        width : 85vmin;
        height: 85vmin;
    }
}

.au-stagger {
    animation-delay: 100ms;
}

.animate-fadeIn {
    &.au-enter {
        opacity: 0;
        scale  : .1;
    }

    &.au-enter-active {
        animation: fadeIn .5s ease-out;
    }

    &.au-entered {
        opacity: 1;
        scale  : 1;
    }
}

.animate-fadeOut {
    &.au-leave {
        opacity: 1;
        scale  : 1;
    }

    &.au-leave-active {
        animation: fadeOut .5s ease-in;
    }

    &.au-left {
        opacity: 0;
        scale  : .1;
    }
}

input[type="range"] {
    position: absolute;
    bottom  : 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale  : .1;
    }

    to {
        opacity: 1;
        scale  : 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        scale  : 1;
    }

    to {
        opacity: 0;
        scale  : .1;
    }
}
