board {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    user-select: none;
    width: 100%;

    @media screen and (orientation: portrait) {
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.au-stagger {
    animation-delay: 100ms;
}

.animate-fadeIn {
    &.au-enter {
        opacity: 0;
        scale: .1;
    }

    &.au-enter-active {
        animation: fadeIn .5s ease-out;
    }

    &.au-entered {
        opacity: 1;
        scale: 1;
    }
}

.animate-fadeOut {
    &.au-leave {
        opacity: 1;
        scale: 1;
    }

    &.au-leave-active {
        animation: fadeOut .5s ease-in;
    }

    &.au-left {
        opacity: 0;
        scale: .1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: .1;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        scale: 1;
    }

    to {
        opacity: 0;
        scale: .1;
    }
}