board {
    --chinImage: url('assets/kinnen.webp');
    --hairImage: url('assets/haren.webp');
    --noseImage: url('assets/neuzen.webp');
    --mouthImage: url('assets/monden.webp');
}

tile {
    --size: 20dvw;
    --top: 0;
    --pupilOffsetX: 0%;
    --pupilOffsetY: 0%;
    --pupilOffsetXRight: 0%;
    --pupilX: 38.6%;
    --pupilY: 38.3%;
    --shadow: none;
    flex: 0 0 var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--color);
    border-radius: var(--borderRadius, 2dvh);
    border: solid;
    border-width: var(--borderWidth, 0);
    aspect-ratio: 1;
    box-shadow: var(--shadow);
    opacity: var(--tileOpacity, 1);

    &::before,
    &.face::after {
        content: '';
        position: absolute;
        width: 2%;
        aspect-ratio: 1;
        top: calc(var(--pupilY) + var(--pupilOffsetY));
        left: calc(var(--pupilX) + var(--pupilOffsetX));
        border-radius: 1in;
        background-color: #fff;
        z-index: 1;

        @media screen and (max-width: 600px) {
            width: 2px;
        }
    }

    &.face::after {
        --pupilX: calc(59.6% + var(--pupilOffsetXRight));
        height: auto;
        mix-blend-mode: revert;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: var(--borderRadius, 2dvh);
        mix-blend-mode: multiply;
    }

    &.face {
        background-image: var(--chinImage), var(--noseImage), var(--hairImage), var(--mouthImage);
        background-position: var(--chin) center, var(--nose) center, var(--hair) center, var(--mouth) center;
        background-size: cover, cover, cover, cover;
        background-blend-mode: multiply;
    }

}