board {
    --chinImage: url('assets/kinnen.webp');
    --hairImage: url('assets/haren.webp');
    --noseImage: url('assets/neuzen.webp');
    --mouthImage: url('assets/monden.webp');
}

tile {
    --size: 20dvh;
    --pupilOffsetX: 0%;
    --pupilOffsetY: 0%;
    --pupilX: 38.6%;
    --pupilY: 38.3%;
    position: relative;
    flex: 0 0 var(--size);
    background-color: transparent;
    aspect-ratio: 1;
    opacity: var(--tileOpacity, 1);

    @media screen and (orientation: portrait) {
        &:nth-child(2) {
            margin-block: 1rem;
        }
    }

    @media screen and (orientation: landscape) {
        --size: 24dvw;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 2%;
        aspect-ratio: 1;
        top: calc(var(--pupilY) + var(--pupilOffsetY));
        left: calc(var(--pupilX) + var(--pupilOffsetX));
        border-radius: 1in;
        background-color: #fff;
        z-index: 1;
    }

    &.face::after {
        --pupilX: 59.6%;
        height: auto;
        mix-blend-mode: revert;
    }

    &.face {
        background-image: var(--chinImage), var(--noseImage), var(--hairImage), var(--mouthImage);
        background-position: var(--chin) center, var(--nose) center, var(--hair) center, var(--mouth) center;
        background-size: cover, cover, cover, cover;
        background-blend-mode: multiply;
    }

}